{{ form_start(formCart) }}
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(formCart.size) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(formCart.color) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(formCart.quantity) }}
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-6">
            {{ form_row(formCart.add_cart) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(formCart.add_wish_list) }}
        </div>
    </div>
{{ form_end(formCart) }}
