{{ form_start(formCart) }}
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(formCart.size) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(formCart.color) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(formCart.quantity) }}
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-success mb-3">Dodaj u košaricu <i class="fas fa-cart-plus"></i></button>
    </div>
{{ form_end(formCart) }}
