{{ form_start(formCart) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(formCart.size) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(formCart.color) }}
        </div>
        <div class="col-sm-6">
            {{ form_rest(formCart) }}
        </div>
        <div class="col-sm-6 mt-4 text-right">
            <button class="btn btn-success mb-2">Dodaj u košaricu <i class="fas fa-cart-plus"></i></button>
            <button class="btn btn-primary mb-2">Dodaj na popis želja <i class="fas fa-list-ul"></i></button>
        </div>
    </div>
    <div class="text-center">
    </div>
{{ form_end(formCart) }}
