{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/login.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger mt-1 p-2 text-center">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <h3 class="mb-3 mt-2 text-center">Prijava u sustav</h3>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Lozinka</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mt-2 text-center">
                <label>
                    <input type="checkbox" name="_remember_me"> Zapamti me
                </label>
            </div>

            <div class="text-center">
                <button class="btn btn-primary mt-2 mb-3" type="submit">
                    Prijava
                </button>
            </div>

            <p class="text-center">Nemate postojeći račun na našoj platformi?
                 Kreirajte Vaš račun <a href="{{ path('app_register') }}">ovdje</a>!
            </p>
        </form>
        <div class="text-center mb-3">
            <a class="btn btn-outline-info mt-1" href="{{ path('connect_facebook_start') }}">
                Prijavi se koristeći Facebook <i class="fab fa-facebook"></i>
            </a>
            <a class="btn btn-outline-success mt-1" href="#">
                Prijavi se koristeći Google <i class="fab fa-google"></i>
            </a>
        </div>
    </div>
{% endblock %}
