{% extends 'base.html.twig' %}

{% block title %}Registracija{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/container.css') }}">
{% endblock %}

{% block body %}


    <div class="container">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger mt-1 p-2 text-center" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h3 class="text-center mb-3 mt-2">Registracija novog korisnika</h3>
        {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(registrationForm.name, {
                    label: 'Ime'
                }) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(registrationForm.surname, {
                    label: 'Prezime'
                }) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(registrationForm.gender, {
                    label: 'Spol'
                }) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(registrationForm.birthDate, {
                    label: 'Datum i godina rođenja'
                }) }}
            </div>
        </div>

            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password.first)  }}
            {{ form_row(registrationForm.password.second)  }}
            {{ form_row(registrationForm.agreeTerms) }}

        <div class="text-center">
            <button type="submit" class="btn btn-outline-secondary mb-3">
                Registracija
            </button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
