{% extends 'base.html.twig' %}

{% block title %}Plaćanje i sigurnost{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/payment_and_security.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            Plaćanje i sigurnost
            <img id="icon_debit-card" class="ml-1"
                 src="{{ asset('icons/debit-card.png') }}" alt="icon">
        </h2>
        <div class="row text-center mt-3 mb-3">
            <div class="col-sm-6 card">
                <p>
                    <strong>
                        PLAĆANJE NA NAŠIM WEB STRANICAMA JE SIGURNO!
                    </strong><br>
                    Nakon što potvrdite da želite kupiti artikle iz košarice, bit ćete
                    preusmjereni na stranicu gdje će se izvršiti naplata. Nakon odabira
                    adrese isporuke, potrebno je odabrati način plaćanja (Debitna/Kreditna
                    kartica ili Paypal) te unesti podatke o Vašoj kartici (Vaše ime i prezime,
                    broj kartice, datum isteka te CVV broj). Nakon unosa navedenih podataka,
                    potrebno je potvrditi postupak naplate. Ako je transakcija uspješna bit
                    ćete preusmjereni na stranicu s popisom uspješno izvršenih narudžbi,
                    u suprotnom ćete dobiti poruku o pogrešci.
                </p>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4 mt-3 mb-3">
                <div class="img-wrapper">
                    <img src="{{ asset('images/payment_and_security1.jpg') }}" alt="">
                </div>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-3 card">
                <p>
                    Prilikom kreiranja i plaćanja narudžbe za koje je kao način plaćanja
                    odabrano plaćanje karticom na Vašu e-mail adresu primit ćete dvije
                    odvojene e-mail poruke - prvi email o
                    <i>Potvrdi narudžbe</i> i nakon što se transakcija plaćanja izvrši,
                    e-mail o <i>Potvrdi plaćanja</i>.
                </p>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                <div class="img-wrapper">
                    <img src="{{ asset('images/payment_and_security2.jpg') }}" alt="">
                </div>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="img-wrapper">
                    <img src="{{ asset('images/payment_and_security3.jpg') }}" alt="">
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3 card">
                <p>
                    <strong>POTVRDA NARUDŽBE</strong> -
                    e-mail koji dobijete kad ste na našoj stranici kao registrirani kupac
                    uspješno stavili odabrane artikle u košaricu, popunili podatke, odabrali
                    kartično plaćanje i potvrdili naplatu.
                    <br>
                    <strong>POTVRDA PLAĆANJA</strong> -
                    e-mail koji dobijete nakon što se transakcija plaćanja izvrši.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
