{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.street) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.city) }}
        </div>
        <div class="col-sm-12">
            {{ form_row(form.county) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.postalCode) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.country) }}
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-outline-secondary mb-3">{{ button_label|default('Dodaj adresu isporuke') }}</button>
    </div>
{{ form_end(form) }}
