{% extends 'base.html.twig' %}

{% block title %}
    {{ 'show.title'|trans({}, 'delivery_address') }}
    "{{ delivery_address.street }}"
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            {{ 'show.title'|trans({}, 'delivery_address') }}
            "{{ delivery_address.street }}"
        </h2>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('delivery_address_index') }}">
                <i class="fas fa-arrow-alt-circle-left"></i>
                {{ 'deliveryAddressList'|trans({}, 'delivery_address') }}
            </a>
        {% else %}
            <a href="{{ path('account_settings') }}">
                <i class="fas fa-arrow-alt-circle-left"></i>
                {{ 'accountSettings'|trans({}, 'delivery_address') }}
            </a>
        {% endif %}
        <table class="table">
            <tbody>
                <tr>
                    <th>
                        Id
                    </th>
                    <td>{{ delivery_address.id }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'deliveryAddressTable.street'|trans({}, 'delivery_address') }}
                    </th>
                    <td>{{ delivery_address.street }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'deliveryAddressTable.city'|trans({}, 'delivery_address') }}
                    </th>
                    <td>{{ delivery_address.city }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'deliveryAddressTable.county'|trans({}, 'delivery_address') }}
                    </th>
                    <td>{{ delivery_address.county }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'deliveryAddressTable.postalCode'|trans({}, 'delivery_address') }}
                    </th>
                    <td>{{ delivery_address.postalCode }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'deliveryAddressTable.country'|trans({}, 'delivery_address') }}
                    </th>
                    <td>{{ delivery_address.country }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'deliveryAddressTable.createdAt'|trans({}, 'delivery_address') }}
                    </th>
                    <td>{{ delivery_address.createdAt|date('H:i:s | d.m.Y.')}}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'deliveryAddressTable.updatedAt'|trans({}, 'delivery_address') }}
                    </th>
                    <td>
                        {{ delivery_address.updatedAt?
                        delivery_address.updatedAt|date('H:i:s | d.m.Y.') : '' }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'deliveryAddressTable.user'|trans({}, 'delivery_address') }}
                    </th>
                    <td>{{ delivery_address.user.name }}
                        {{ delivery_address.user.surname }}<br>
                        <a href="{{ path('user_edit',
                            {id:delivery_address.user.id}) }}">
                            {{ 'deliveryAddressTable.editUser'|trans({}, 'delivery_address') }}
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-success"
               href="{{ path('delivery_address_edit',
                   {'id': delivery_address.id}) }}">
                {{ 'show.editDeliveryAddress'|trans({}, 'delivery_address') }}
            </a>
            {{ include('delivery_address/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
