{% extends 'base.html.twig' %}

{% block title %}Upravljanje kategorijama{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            Upravljanje kategorijama
            <img class="panel_icon ml-1"
                 src="{{ asset('icons/categories.png') }}" alt="icon">
        </h2>
        {% if not categories %}
            <div class="text-center">
                <img src="{{ asset('images/logo.png') }}" alt="">
                <p>
                    Ne postoji niti jedna kategorija u bazi podataka.
                </p>
                <a href="{{ path('category_new') }}"
                   class="btn btn-outline-info mb-3">
                    Dodaj novu kategoriju
                </a>
            </div>
        {% else %}
            <a href="{{ path('category_new') }}"
               class="btn btn-outline-info mb-3">
                Stvori novu kategoriju
            </a>
            <div class="table-responsive">
                <table class="table table-hover table-info">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Naziv kategorije</th>
                            <th>Vrijeme stvaranja</th>
                            <th>Vrijeme zadnje izmjene</th>
                            <th>Mogućnosti</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.createdAt|date('H:i:s | d.m.Y.')}}</td>
                            <td>
                                {{ category.updatedAt ?
                                category.updatedAt|date('H:i:s | d.m.Y.') : '' }}
                            </td>
                            <td>
                                <a class="btn" href="{{ path('category_show',
                                       {'id': category.id}) }}"
                                   title="Prikaži pojedinosti">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a href="{{ path('category_edit',
                                    {'id': category.id}) }}"
                                   title="Uredi">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {{ include('category/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
