{% extends 'base.html.twig' %}

{% block title %}
    {{ 'show.title'|trans({}, 'action_category') }}
    - {{ action_category.category.name }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/container50.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            {{ 'show.title'|trans({}, 'action_category') }}
            - {{ action_category.category.name }}
        </h2>
        <a href="{{ path('action_category_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            {{ 'actionsList'|trans({}, 'action_category') }}
        </a>
        {{ include('actions/action_category/_form.html.twig',
            {'button_label': 'form.edit_button_label'|trans({}, 'action_category')}) }}
        <div class="text-center">
            {{ include('actions/action_category/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
