{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title'|trans({}, 'subscriber') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            {{ 'title'|trans({}, 'subscriber') }}
            <img class="panel_icon ml-1"
                 src="{{ asset('icons/subscribe.png') }}" alt="icon">
        </h2>
        {% if not subscribers %}
            <div class="text-center">
                <img src="{{ asset('images/logo.png') }}" alt="">
                <p>
                    {{ 'noSubscribers'|trans({}, 'subscriber') }}
                </p>
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="table table-hover table-info">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            {{ 'subscriberTable.userEmail'|trans({}, 'subscriber') }}
                        </th>
                        <th>
                            {{ 'subscriberTable.createdAt'|trans({}, 'subscriber') }}
                        </th>
                        <th>
                            {{ 'subscriberTable.updatedAt'|trans({}, 'subscriber') }}
                        </th>
                        <th>
                            {{ 'subscriberTable.remove'|trans({}, 'subscriber') }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subscriber in subscribers %}
                        <tr>
                            <td>{{ subscriber.id }}</td>
                            <td>{{ subscriber.email }}</td>
                            <td>{{ subscriber.createdAt|date('H:i:s | d.m.Y.')}}</td>
                            <td>
                                {{ subscriber.updatedAt ? subscriber.updatedAt|date('H:i:s | d.m.Y.') : '' }}
                            </td>
                            <td>
                                {{ include('subscriber/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
