<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" >
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Website Icon -->
        <link rel="icon" href="{{ asset("/images/logo.png") }}">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ asset("css/footer.css") }}">
        <link rel="stylesheet" href="{{ asset("css/homepage.css") }}">
        <link rel="stylesheet" href="{{ asset("css/bootnavbar.css") }}">

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/f69451562f.js" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

        {% block stylesheets %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <script src="{{ asset("scripts/navigation-submenuHandler.js") }}"></script>
        <script src="{{ asset("scripts/bootnavbar.js") }}"></script>

    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main_navbar">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" alt="">
            SportShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-male"></i> Muškarci
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Obuća
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" href="#">Tenisice</a></li>
                                <li><a class="dropdown-item" href="#">Kopačke</a></li>
                                <li><a class="dropdown-item" href="#">Patike za trčanje</a></li>
                                <li><a class="dropdown-item" href="#">Čizme</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        Dodaci
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        <li><a class="dropdown-item" href="#">Ulošci</a></li>
                                        <li><a class="dropdown-item" href="#">Vezice</a></li>
                                        <li><a class="dropdown-item" href="#">Impregnacijski sprejevi</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Odjeća
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" href="#">Majice</a></li>
                                <li><a class="dropdown-item" href="#">Hlače</a></li>
                                <li><a class="dropdown-item" href="#">Jakne</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        Odjevni dodaci
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        <li><a class="dropdown-item" href="#">Kape</a></li>
                                        <li><a class="dropdown-item" href="#">Rukavice</a></li>
                                        <li><a class="dropdown-item" href="#">Šalovi</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-female"></i> Žene
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Obuća
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" href="#">Tenisice</a></li>
                                <li><a class="dropdown-item" href="#">Kopačke</a></li>
                                <li><a class="dropdown-item" href="#">Patike za trčanje</a></li>
                                <li><a class="dropdown-item" href="#">Čizme</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        Dodaci
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        <li><a class="dropdown-item" href="#">Ulošci</a></li>
                                        <li><a class="dropdown-item" href="#">Vezice</a></li>
                                        <li><a class="dropdown-item" href="#">Impregnacijski sprejevi</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Odjeća
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" href="#">Majice</a></li>
                                <li><a class="dropdown-item" href="#">Hlače</a></li>
                                <li><a class="dropdown-item" href="#">Jakne</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        Odjevni dodaci
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        <li><a class="dropdown-item" href="#">Kape</a></li>
                                        <li><a class="dropdown-item" href="#">Rukavice</a></li>
                                        <li><a class="dropdown-item" href="#">Šalovi</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-child"></i> Djeca
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Obuća
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" href="#">Tenisice</a></li>
                                <li><a class="dropdown-item" href="#">Kopačke</a></li>
                                <li><a class="dropdown-item" href="#">Patike za trčanje</a></li>
                                <li><a class="dropdown-item" href="#">Čizme</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        Dodaci
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        <li><a class="dropdown-item" href="#">Ulošci</a></li>
                                        <li><a class="dropdown-item" href="#">Vezice</a></li>
                                        <li><a class="dropdown-item" href="#">Impregnacijski sprejevi</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Odjeća
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" href="#">Majice</a></li>
                                <li><a class="dropdown-item" href="#">Hlače</a></li>
                                <li><a class="dropdown-item" href="#">Jakne</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        Odjevni dodaci
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        <li><a class="dropdown-item" href="#">Kape</a></li>
                                        <li><a class="dropdown-item" href="#">Rukavice</a></li>
                                        <li><a class="dropdown-item" href="#">Šalovi</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-futbol"></i> Sportska oprema
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="#">Nogomet</a></li>
                        <li><a class="dropdown-item" href="#">Rukomet</a></li>
                        <li><a class="dropdown-item" href="#">Košarka</a></li>
                        <li><a class="dropdown-item" href="#">Odbojka</a></li>
                        <li><a class="dropdown-item" href="#">Stolni tenis</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-exclamation-triangle"></i> Ostalo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="#">Steznici</a></li>
                        <li><a class="dropdown-item" href="#">Znojnici</a></li>
                        <li><a class="dropdown-item" href="#">Ruksaci</a></li>
                        <li><a class="dropdown-item" href="#">Čarape</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Akcijska ponuda</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto justify-content-end">
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Prijava <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Košarica <i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}

    <footer>
        <div class="footer-wrap">
            <div class="container-fluid first_class">
                <div class="row ml-0 mr-0">
                    <div class="col-md-4 text-center">
                        <h3>PRVI SAZNAJTE SVE NOVOSTI</h3>
                        <p>Saznaj sve najnovije informacije o SportShop akcijama, događajima i poslovima.
                            Prijavi se na naš newsletter!
                        </p>
                    </div>
                    <div class="col-md-4">
                        <form class="newsletter">
                            <input type="text" placeholder="Email Address">
                            <button class="newsletter_submit_btn" type="submit" title="Pretplati se">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="standard_social_links">
                                <div>
                                    <li class="round-btn btn-facebook">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
{#                                    <li class="round-btn btn-linkedin">#}
{#                                        <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>#}
{#                                    </li>#}
                                    <li class="round-btn btn-twitter">
                                        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="round-btn btn-instagram">
                                        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="round-btn btn-envelop">
                                        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="second_class">
                <div class="container-fluid second_class_bdr">
                    <div class="row ml-0 mr-0">
                        <div class="col-md-4 col-sm-6 text-center">
                            <div class="footer-logo">
                                <img src="/images/logo.png" alt="logo">
                            </div>
                            <p>Your one-stop career platform to find Jobs, Internships, Professional Trainings, Projects, and Volunteering Opportunities.</p>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h3>Brze poveznice</h3>
                            <ul class="footer-links">
                                <li><a href="#">Naslovnica</a></li>
                                <li><a href="#">O nama</a></li>
                                <li><a href="#">Plaćanje i sigurnost</a></li>
                                <li><a href="#">Uvjeti i odredbe</a></li>
                                <li><a href="#">Loyalty program vjernosti</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Istaknute kategorije</h3>
                            <ul class="footer-category">
                                <div class="row ml-0 mr-0">
                                    <div class="col-md-6">
                                        <li><a href="#">Nogomet</a></li>
                                        <li><a href="#">Rukomet</a></li>
                                        <li><a href="#">Tenis</a></li>
                                        <li><a href="#">Košarka</a></li>
                                    </div>
                                    <div class="col-md-6">
                                        <li><a href="#">Akcijska ponuda</a></li>
                                        <li><a href="#">Ruksaci</a></li>
                                        <li><a href="#">Steznici</a></li>
                                        <li><a href="#">Znojnici</a></li>
                                    </div>
                                </div>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <h3>Naša lokacija</h3>
                            <div class="map">
                                <iframe width="420"
                                        height="300"
                                        frameborder="0"
                                        scrolling="no"
                                        marginheight="0"
                                        marginwidth="0"
                                        id="gmap_canvas"
                                        src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Ulica%20Kneza%20Trpimira%202b%20Osijek+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                                </iframe>
                                <a href='https://www.symptoma.hr/hr/info/covid-19#info'>COVID-19</a>
                                <script type='text/javascript'
                                        src='https://embedmaps.com/google-maps-authorization/script.js?id=8a3df4aec8b2af26fcb590b8aa6761a07acaf5b2'>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-info p-2 text-center"> Copyright 2021 | All Rights Reserved by SportShop d.o.o.</div>
        </div>
    </footer>
</body>
    <script>
        new bootnavbar();
        // (function () {
        // });
    </script>
</html>
