{% set newDeliveryAddress %}
    <a class="btn btn-sm bg-info text-white"
       href="{{ path('delivery_address_new') }}">Dodaj novu adresu isporuke
    </a>
{% endset %}

{{ form_start(formCheckout)}}
    {{ form_label(formCheckout.deliveryAddress, newDeliveryAddress|raw)}}
    {{ form_row(formCheckout.deliveryAddress) }}
    <hr class="mb-4">
    <h4 class="mb-3">Način plaćanja</h4>
    {{ form_row(formCheckout.card) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(formCheckout.card_name_surname) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(formCheckout.card_number) }}
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(formCheckout.card_expiration) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(formCheckout.card_cvv) }}
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-md btn-block mb-3" type="submit">
            Izvrši plaćanje
            <i class="fas fa-hand-holding-usd"></i>
        </button>
    </div>
{{ form_end(formCheckout) }}