{% extends 'base.html.twig' %}

{% block title %}Veličina {{ size.value }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/container50.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center p-2 mt-2 bg-light">Uređivanje podataka o veličini {{ size.value }}</h2>
        <a href="{{ path('size_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Lista veličina
        </a>
        {{ include('size/new_item_form.html.twig', {'button_label': 'Spremi promjene'}) }}
        <div class="text-center">
            {{ include('size/_delete_item_form.html.twig') }}
        </div>
    </div>
{% endblock %}
