{% extends 'base.html.twig' %}

{% block title %}Veli훾ina {{ size.value }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            Veli훾ina {{ size.value }}
        </h2>
        <a href="{{ path('size_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Lista veli훾ina
        </a>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ size.id }}</td>
                </tr>
                <tr>
                    <th>Veli훾ina</th>
                    <td>{{ size.value }}</td>
                </tr>
                <tr>
                    <th>Vrsta artikla</th>
                    <td>{{ size.type }}</td>
                </tr>
                <tr>
                    <th>Vrijeme stvaranja</th>
                    <td>{{ size.createdAt|date('H:i:s | d.m.Y.')}}</td>
                </tr>
                <tr>
                    <th>Vrijeme zadnje izmjene</th>
                    <td>
                        {{ size.updatedAt ? size.updatedAt|date('H:i:s | d.m.Y.') : '' }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-outline-success" href="{{ path('size_edit', {'id': size.id}) }}">
                Uredi podatke
            </a>
            {{ include('size/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
