{% extends 'base.html.twig' %}

{% block title %}Upravljanje narudžbama{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/order_list_status.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="text-center mt-2 bg-light p-2">Upravljanje narudžbama
            <img class="nav_icon mr-1" src="{{ asset('icons/orders.png') }}" alt="icon">
        </h2>
        {% if not order_list_items %}
            <div class="text-center">
                <img src="{{ asset('images/logo.png') }}" alt="">
                <p>Ne postoji niti jedna narudžba u bazi podataka.</p>
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="table table-hover table-info">
                    <thead>
                    <tr>
                        <th>Br. narudžbe</th>
                        <th>Korisnik</th>
                        <th>Vrijeme izvršenja narudžbe</th>
                        <th>Adresa isporuke</th>
                        <th>Status</th>
                        <th>Ukupan iznos narudžbe[kn]</th>
                        <th>Mogućnosti</th>
                        <th>Detalji</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order_list_item in order_list_items %}
                        <tr>
                            <td>{{ order_list_item.id }}</td>
                            <td>{{ order_list_item.orderList.user.name }} {{ order_list_item.orderList.user.surname }}</td>
                            <td>{{ order_list_item.createdAt ? order_list_item.createdAt|date('H:i:s | d.m.Y.') : '' }}</td>
                            <td>{{ order_list_item.deliveryAddress.street }},
                                {{ order_list_item.deliveryAddress.postalCode }}
                                {{ order_list_item.deliveryAddress.city }}
                            </td>
                            <td>
                                {% if order_list_item.status == "U OBRADI" %}
                                    {{ order_list_item.status }}
                                    <img class="icon" src="{{ asset('icons/box.png') }}" alt="icon">
                                {% elseif order_list_item.status == "NA DOSTAVI" %}
                                    {{ order_list_item.status }}
                                    <img class="icon" src="{{ asset('icons/delivery.png') }}" alt="icon">
                                {% else %}
                                    {{ order_list_item.status }}
                                    <img class="icon" src="{{ asset('icons/delivering.png') }}" alt="icon">
                                {% endif %}
                            </td>
                            <td>{{ order_list_item.totalPrice|number_format(2, '.', ',') }}</td>
                            <td>
                                <a href="{{ path('order_list_item_status_processing', {'id': order_list_item.id}) }}"
                                    title="Postavi status u obradi">
                                    <img class="icon" src="{{ asset('icons/box.png') }}" alt="icon">
                                </a>
                                <a href="{{ path('order_list_item_status_delivering', {'id': order_list_item.id}) }}"
                                    title="Postavi status na dostavi">
                                    <img class="icon" src="{{ asset('icons/delivery.png') }}" alt="icon">
                                </a>
                                <a href="{{ path('order_list_item_status_delivered', {'id': order_list_item.id}) }}"
                                    title="Postavi status dostavljeno">
                                    <img class="icon" src="{{ asset('icons/delivering.png') }}" alt="icon">
                                </a>
                                {{ include('order_list_item/_delete_form.html.twig') }}
                            </td>
                            <td>
                                <a href="{{ path('order_details', {'id':order_list_item.id}) }}">
                                    Više o narudžbi <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
