{% extends 'base.html.twig' %}

{% block title %}
    {{ 'new.title'|trans({}, 'action_item') }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/container50.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            {{ 'new.title'|trans({}, 'action_item') }}
        </h2>
        <a href="{{ path('action_item_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            {{ 'actionsList'|trans({}, 'action_item') }}
        </a>
        {{ include('actions/action_item/_form.html.twig') }}
    </div>
{% endblock %}