{% extends 'base.html.twig' %}

{% block title %}Uređivanje - {{ item.title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/edit_item.css') }}">
    <link rel="stylesheet" href="{{ asset('css/color_circle50.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center p-2 mt-2 bg-light">
            Uređivanje podataka o artiklu - {{ item.title }}
        </h2>
        <a href="{{ path('item_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Lista artikala
        </a>
        <h3 class="bg-light text-center p-1">
            Naziv, proizvođač, opis, cijena
        </h3>
        {{ include('item/new_item_form.html.twig', {'button_label': 'Spremi promjene'}) }}
        <h3 class="bg-light text-center p-1">
            Fotografije
        </h3>
        {% if item.images|length == 0 %}
                <p class="text-center">
                    Artikl trenutno nema niti jednu fotografiju.
                </p>
        {% else %}
            <div class="row">
            {% for image in item.images %}
                    <div class="col-sm-3 mb-3">
                        <div class="image-wrapper">
                            <div class="delete_icon">
                                {{ include('item/_delete_image_form.html.twig') }}
                            </div>
                            <img src="{{ asset('uploads/')~image.path }}" alt="image_{{ image.id }}">
                        </div>
                    </div>
            {% endfor %}
            </div>
        {% endif %}
        <div class="text-center">
            <a href="{{ path('item_image_add', {'id':item.id}) }}"
                class="btn btn-warning p-1 mt-3">
                Dodaj fotografiju/e
                <i class="fas fa-images"></i>
            </a>
        </div>
        <h3 class="bg-light text-center p-1 mb-3 mt-3">
            Kategorije, tagovi, boje, veličine, proizvođači
        </h3>
        <div class="row text-center">
            <div class="col-md-4 mb-3">
                <h6>Kategorije artikla:</h6>
                {% if item.itemCategories|length == 0 %}
                    <p id="empty">Nema</p>
                {% else %}
                    <div class="icon_wrapper">
                        {% for itemCategory in item.itemCategories %}
                            <div class="delete_icon">
                                {{ include('item/_delete_category_form.html.twig') }}
                            </div>
                            - {{ itemCategory.category.name }}
                        {% endfor %}
                    </div>
                {% endif %}
                <a href="{{ path('item_add_category', {'id':item.id}) }}"
                   class="btn btn-success p-1 mt-2">
                    Dodaj kategoriju
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Tagovi artikla:</h6>
                {% if item.itemTags|length == 0 %}
                    <p id="empty">Nema</p>
                {% else %}
                    <div class="icon_wrapper">
                        {% for itemTag in item.itemTags %}
                            <div class="delete_icon">
                                {{ include('item/_delete_tag_form.html.twig') }}
                            </div>
                            - {{ itemTag.tag }}
                        {% endfor %}
                    </div>
                {% endif %}
                <a href="{{ path('item_add_tag', {'id':item.id}) }}"
                   class="btn btn-success p-1 mt-2">Dodaj tag
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Boje artikla:</h6>
                {% if item.itemColors|length == 0 %}
                    <p id="empty">Nema</p>
                {% else %}
                    <div class="icon_wrapper">
                        {% for itemColor in item.itemColors %}
                            <div class="delete_icon">
                                {{ include('item/_delete_color_form.html.twig') }}
                            </div>
                            <p>- {{ itemColor.color.name }}| {{ itemColor.quantity }}kom
                                <a href="{{ path('item_color_quantity_edit',
                                    {'id':itemColor.id}) }}" title="Uredi količinu">
                                    <i id="edit" class="far fa-edit"></i>
                                </a>
                            </p>
                        {% endfor %}
                    </div>
                {% endif %}
                <a href="{{ path('item_add_color', {'id':item.id}) }}"
                    class="btn btn-success p-1">Dodaj boju
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Veličine artikla:</h6>
                {% if item.itemSizes|length == 0 %}
                    <p id="empty">Nema</p>
                {% else %}
                    <div class="icon_wrapper">
                        {% for itemSize in item.itemSizes %}
                            <div class="delete_icon">
                                {{ include('item/_delete_size_form.html.twig') }}
                            </div>
                            <p>- {{ itemSize.size.value }} | {{ itemSize.quantity }}kom
                                <a href="{{ path('item_size_quantity_edit',
                                    {'id':itemSize.id}) }}" title="Uredi količinu">
                                    <i id="edit" class="far fa-edit ml-1"></i>
                                </a>
                            </p>
                        {% endfor %}
                    </div>
                {% endif %}
                <a href="{{ path('item_add_size', {'id':item.id}) }}"
                    class="btn btn-success p-1">
                    Dodaj veličinu
                </a>
            </div>
        </div>
        <div class="text-center mt-3">
            {{ include('item/_delete_item_form.html.twig') }}
        </div>
    </div>
{% endblock %}
