{% extends 'base.html.twig' %}

{% block title %}Uređivanje - {{ item.title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/edit_item.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center p-2 mt-2 bg-light">Uređivanje podataka o artiklu - {{ item.title }}</h2>
        <a href="{{ path('item_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Lista artikala
        </a>
        <h3 class="bg-light text-center p-1">Naziv, cijena</h3>
        {{ include('item/new_item_form.html.twig', {'button_label': 'Spremi promjene'}) }}
        <h3 class="bg-light text-center p-1">Fotografije</h3>
        {% if item.images|length == 0 %}
                <p class="text-center">Artikl trenutno nema niti jednu fotografiju.</p>
        {% else %}
            {% for image in item.images %}
                <div class="row">
                    <div class="col-sm-3">
                        <div class="image-wrapper">
                            <div class="delete_icon">
                                <form method="post" action="{{ path('item_image_delete', {'id': image.id}) }}"
                                      onsubmit="return confirm('Jeste li sigurni da želite obrisati ovu fotografiju?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                                    <button><i class="far fa-trash-alt p-1" title="Obriši fotografiju"></i></button>
                                </form>
                            </div>
                            <img src="{{ asset('uploads/')~image.path }}" alt="image_{{ image.id }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="text-center">
            <button class="btn btn-warning p-1 mt-3">Dodaj fotografije
                <i class="fas fa-images"></i>
            </button>
        </div>
        <h3 class="bg-light text-center p-1 mb-3 mt-3">Kategorije, tagovi, veličine, boje, proizvođači</h3>
        <div class="row">
            <div class="col-md-15">
                <h6>Kategorije artikla:</h6>
                {% for itemCategory in item.itemCategories %}
                    <p>- {{ itemCategory.category.name }}
                        <form method="post" action="{{ path('item_category_delete', {'id': itemCategory.id}) }}"
                              onsubmit="return confirm('Jeste li sigurni da želite obrisati ovu kategoriju?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ itemCategory.id) }}">
                            <button><i id="delete" class="far fa-trash-alt" title="Obriši kategoriju"></i></button>
                        </form>
                    </p>
                {% endfor %}
                <a href="{{ path('item_add_category', {'id':item.id}) }}"
                   class="btn btn-success p-1">
                    Dodaj kategoriju
                </a>
            </div>
            <div class="col-md-15">
                <h6>Tagovi artikla:</h6>
                {% if item.itemTags|length == 0 %}
                    <p id="empty">Nema</p>
                {% else %}
                    {% for itemTag in item.itemTags %}
                        <p>- {{ itemTag.tag.name }}
                            <i id="delete" class="far fa-trash-alt"></i>
                        </p>
                    {% endfor %}
                {% endif %}
                <button class="btn btn-success p-1">Dodaj tag</button>
            </div>
            <div class="col-md-15">
                <h6>Boje artikla:</h6>
                {% if item.itemColors|length == 0 %}
                    <p id="empty">Nema</p>
                {% else %}
                    {% for itemColor in item.itemColors %}
                        <p>- {{ itemColor.color.value }}
                            <i id="delete" class="far fa-trash-alt"></i>
                        </p>
                    {% endfor %}
                {% endif %}
                <button class="btn btn-success p-1">Dodaj boju</button>
            </div>
            <div class="col-md-15">
                <h6>Veličine artikla:</h6>
                {% if item.itemSizes|length == 0 %}
                    <p id="empty">Nema</p>
                {% else %}
                    {% for itemSize in item.itemSizes %}
                        <p>- {{ itemSize.size.value }}
                            <i id="delete" class="far fa-trash-alt"></i>
                        </p>
                    {% endfor %}
                {% endif %}
                <button class="btn btn-success p-1">Dodaj veličinu</button>
            </div>
            <div class="col-md-15">
                <h6>Proizvođači artikla:</h6>
                {% if item.itemSizes|length == 0 %}
                    <p id="empty">Nema</p>
                {% else %}
                    {% for itemSize in item.itemSizes %}
                        <p>- {{ itemSize.size.value }}
                            <i id="delete" class="far fa-trash-alt"></i>
                        </p>
                    {% endfor %}
                {% endif %}
                <button class="btn btn-success p-1">Dodaj proizvođača</button>
            </div>
        </div>
        <div class="text-center mt-3">
            {{ include('item/_delete_item_form.html.twig') }}
        </div>
    </div>
{% endblock %}
