{% extends 'base.html.twig' %}

{% block title %}
    {{ 'edit_color_quantity.title'|trans({}, 'item') }}
    - [{{ itemColor.color.name }}]
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/container40.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            {{ 'edit_color_quantity.title'|trans({}, 'item') }}
            - [{{ itemColor.color.name }}]
        </h2>
        <a href="{{ path('item_edit', {'id':itemColor.item.id}) }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            {{ 'edit_color_quantity.editItem'|trans({}, 'item') }}
        </a>
        {{ include('item/edit_color_quantity_form.html.twig') }}
    </div>
{% endblock %}
