{% extends 'base.html.twig' %}

{% block title %}
    {{ 'index.title'|trans({}, 'item') }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/item_index.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            {{ 'index.title'|trans({}, 'item') }}
            <img class="panel_icon ml-1"
                 src="{{ asset('icons/items.png') }}" alt="icon">
        </h2>
        {% if not items %}
            <div class="text-center">
                <img src="{{ asset('images/logo.png') }}" alt="">
                <p>
                    {{ 'index.noItems'|trans({}, 'item') }}
                </p>
                <a href="{{ path('item_new') }}"
                   class="btn btn-outline-info mb-3">
                    {{ 'index.newItem'|trans({}, 'item') }}
                </a>
            </div>
            {% else %}
                <a href="{{ path('item_new') }}"
                   class="btn btn-outline-info mb-3">
                    {{ 'index.newItem'|trans({}, 'item') }}
                </a>
                <div class="table-responsive">
                    <table class="table table-hover table-info">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                {{ 'itemsTable.title'|trans({}, 'item') }}
                            </th>
                            <th>
                                {{ 'itemsTable.cipher'|trans({}, 'item') }}
                            </th>
                            <th>
                                {{ 'itemsTable.price'|trans({}, 'item') }}
                            </th>
                            <th>
                                {{ 'itemsTable.createdAt'|trans({}, 'item') }}
                            </th>
                            <th>
                                {{ 'itemsTable.updatedAt'|trans({}, 'item') }}
                            </th>
                            <th>
                                {{ 'itemsTable.actions'|trans({}, 'item') }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.cipher }}</td>
                            <td>{{ item.price|number_format(2, '.', ',') }}</td>
                            <td>{{ item.createdAt|date('H:i:s | d.m.Y.') }}</td>
                            <td>
                                {{ item.updatedAt ? item.updatedAt|date('H:i:s | d.m.Y.') : '' }}
                            </td>
                            <td>
                                <a class="btn" href="{{ path('item_show',
                                    {'id': item.id}) }}"
                                   title="{{ 'itemsTable.basicInfoTitle'|trans({}, 'item') }}">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a href="{{ path('item_edit',
                                    {'id': item.id}) }}"
                                   title="{{ 'itemsTable.editTitle'|trans({}, 'item') }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{{ path('item_details',
                                    {'id': item.id}) }}"
                                   title="{{ 'itemsTable.showTitle'|trans({}, 'item') }}">
                                    <i class="fas fa-chalkboard-teacher"></i>
                                </a>
                                {{ include('item/_delete_item_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
