{% extends 'base.html.twig' %}

{% block title %}{{ item.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/item_details.css") }}">
{% endblock %}

{% block body %}
    <div class="container-fluid mt-1 mb-1 pl-0 pr-0">
        <div class="row ml-0 mr-0">
            <div class="col-md-6">
                <div id="carousel-item-info" class="carousel mt-1">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="mr-1" data-target="#carouselExampleIndicators2" data-slide-to="0"></li>
                            <li class="mr-1" data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                            <li class="mr-1" data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/socks1.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/socks2.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/socks3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <h3 class="text-center">{{ item.title }}</h3>
                <div class="category text-center">
                    {% if item.itemCategories|length == 1 %}
                        <p>Kategorija artikla:
                            <a href="#">{{ category.name }}</a>
                        </p>
                    {% else %}
                        <p>Kategorije artikla:
                            {% for itemCategory in item.itemCategories %}
                                <a href="#">{{ itemCategory.category.name }}</a>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <p>Šifra artikla: {{ item.cipher }}</p>
                <div class="text-right">
                    <a class="btn btn-outline-primary">Dodaj na popis želja <i class="ml-1 far fa-heart"></i> </a>
                </div>
                <div class="row ml-0 mr-0">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Odabir veličine</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                {% for itemSize in item.itemSizes %}
                                    <option>{{ itemSize.size.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Odabir boje</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                {% for itemColor in item.itemColors %}
                                    <option>{{ itemColor.id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Količina</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Number" value="1" min="1">
                </div>
                <div class="row ml-0 mr-0">
                    <div class="col-md-6">
                        <h6>Cijena: <strong>{{ item.price }}</strong> kn</h6>
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="text-center btn btn-outline-success">Dodaj u košaricu <i class="ml-1 fas fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <h3 class="text-center">Opis artikla</h3>
                {{ item.description|raw }}
            </div>
            <div class="col-md-6 mt-3 mb-2">
                <h3 class="text-center">Recenzije</h3>
                {% if app.user %}
                    <div class="text-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModalCenter">
                            Dodaj novu recenziju
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Dodavanje nove recenzije</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(form) }}
                                        {{ form_row(form.rating, {label: 'Ocjena'}) }}
                                        {{ form_row(form.comment, {label: 'Komentar'}) }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                                    <button type="submit" class="btn btn-primary">Dodaj recenziju</button>
                                </div>{{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if item.reviews|length == 0 %}
                    <p class="text-center">Trenutno nitko nije napisao niti jednu recenziju za ovaj artikl.</p>
                {% else %}
                    <div class="row one-review ml-0 mr-0">
                        {% for review in item.reviews %}
                            <div class="col">
                                <h6 class="p-1 border-bottom">{{ review.user.name }} {{ review.user.surname }}</h6>
                                <p><span>Ocjena</span> {{ review.rating }}</p>
                                <p><span>Komentar</span> {{ review.comment }}</p>
                                <p class="text-right">Objavljeno: {{ review.createdAt|date('H:i:s | d.m.Y.') }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
