{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-2">Kreiranje novog artikla</h1>

        {{ form_start(form) }}
            {{ form_row(form.title, {
                label:'Naziv'
            }) }}

            {% for category in categories %}
                <p draggable="true" class="btn btn-info">{{ category.name }}</p>
            {% endfor %}
            {{ form_row(form.category, {
                label:'Kategorije'
            }) }}
            {{ form_row(form.tag, {
                label:'Tagovi'
            }) }}
            {{ form_row(form.size, {
                label:'Dostupne veličine'
            }) }}
            {{ form_row(form.color, {
                label:'Dostupne boje'
            }) }}
            {{ form_row(form.price, {
                label:'Cijena'
            }) }}
            <a href="" class="btn btn-outline-success"></a>
        {{ form_end(form) }}

        <a href="{{ path('item_index') }}">back to list</a>
    </div>
{% endblock %}
