{% extends 'base.html.twig' %}

{% block title %}
    {{ 'new_image.title'|trans({}, 'item') }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/container40.css') }}">
    <link rel="stylesheet" href="{{ asset('css/add_item_image.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            {{ 'new_image.title'|trans({}, 'item') }}
        </h2>
        <a href="{{ path('item_edit', {'id':item.id}) }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            {{ 'new_image.editItem'|trans({}, 'item') }}
        </a>
        <h6 class="text-center bg-light p-1">
            {{ 'new_image.item'|trans({}, 'item') }}:
        </h6>
        <p class="text-center" id="title">
            {{ item.title }}
        </p>
        {% if item.images|length == 0 %}
            <p class="text-center">
                {{ 'new_image.noItemImages'|trans({}, 'item') }}
            </p>
        {% else %}
            <h6 class="text-center bg-light p-1">
                {{ 'new_image.currentImages'|trans({}, 'item') }}:
            </h6>
            <div class="row">
            {% for image in item.images %}
                    <div class="col-sm-3 mb-3">
                        <div class="image-wrapper">
                            <img src="{{ asset('uploads/')~image.path }}"
                                 alt="image_{{ image.id }}">
                        </div>
                    </div>
            {% endfor %}
            </div>
        {% endif %}
        {{ include('item/new_image_form.html.twig') }}
    </div>
{% endblock %}
