{% extends 'base.html.twig' %}

{% block title %}
    {{ 'new_tag.title'|trans({}, 'item') }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/container40.css') }}">
    <link rel="stylesheet" href="{{ asset('css/edit_item.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            {{ 'new_tag.title'|trans({}, 'item') }}
        </h2>
        <a href="{{ path('item_edit', {'id':item.id}) }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            {{ 'new_tag.editItem'|trans({}, 'item') }}
        </a>
        <h6 class="text-center bg-light p-1">
            {{ 'new_tag.item'|trans({}, 'item') }}:
        </h6>
        <p class="text-center" id="title">
            {{ item.title }}
        </p>
        <h6 class="text-center bg-light p-1">
            {{ 'new_tag.currentTags'|trans({}, 'item') }}:
        </h6>
        {% if item.itemTags|length == 0 %}
            <p class="text-center">
                {{ 'new_tag.noItemTags'|trans({}, 'item') }}
            </p>
        {% else %}
            {% for itemTag in item.itemTags %}
                <p class="text-center m-0" id="category">
                    - {{ itemTag.tag }}
                </p>
            {% endfor %}
        {% endif %}
        {{ include('item/new_tag_form.html.twig') }}
    </div>
{% endblock %}
