{% extends 'base.html.twig' %}

{% block title %}Postavljanje novih tagova{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/container40.css') }}">
    <link rel="stylesheet" href="{{ asset('css/edit_item.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">
            Postavljanje novih tagova
        </h2>
        <a href="{{ path('item_edit', {'id':item.id}) }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Uređivanje artikla
        </a>
        <h6 class="text-center bg-light p-1">
            Artikl:
        </h6>
        <p class="text-center" id="title">
            {{ item.title }}
        </p>
        <h6 class="text-center bg-light p-1">
            Trenutno postavljen/i tag/ovi:
        </h6>
        {% if item.itemTags|length == 0 %}
            <p class="text-center">
                Artikl trenutno nema niti jedan tag.
            </p>
        {% else %}
            {% for itemTag in item.itemTags %}
                <p class="text-center m-0" id="category">
                    - {{ itemTag.tag }}
                </p>
            {% endfor %}
        {% endif %}
        {{ include('item/new_tag_form.html.twig') }}
    </div>
{% endblock %}
