{% extends 'base.html.twig' %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Artikl - {{ item.title }}</h2>
        <a href="{{ path('item_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Lista artikala
        </a>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ item.id }}</td>
                </tr>
                <tr>
                    <th>Naziv artikla</th>
                    <td>{{ item.title }}</td>
                </tr>
                <tr>
                    <th>Šifra artikla</th>
                    <td>{{ item.cipher }}</td>
                </tr>
                <tr>
                    <th>Cijena [kn]</th>
                    <td>{{ item.price|number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <th>Vrijeme stvaranja</th>
                    <td>{{ item.createdAt|date('H:i:s | d.m.Y.') }}</td>
                </tr>
                <tr>
                    <th>Vrijeme zadnje izmjene</th>
                    <td>{{ item.updatedAt ? item.updatedAt|date('H:i:s | d.m.Y.') : '' }}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-outline-success" href="{{ path('item_edit', {'id': item.id}) }}">Uredi podatke</a>
            {{ include('item/_delete_item_form.html.twig') }}
        </div>
    </div>
{% endblock %}
