{% extends 'base.html.twig' %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Artikl {{ item.title }}</h2>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ item.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ item.title }}</td>
                </tr>
                <tr>
                    <th>RefNumber</th>
                    <td>{{ item.cipher }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ item.price }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('item_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Nazad na listu artikala
        </a>

        <div class="text-center">
            <a class="btn btn-outline-success" href="{{ path('item_edit', {'id': item.id}) }}">Uredi podatke</a>

            {{ include('item/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
