{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.surname) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.gender) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.birthDate) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="text-center">
        <button class="btn btn-outline-secondary mb-3">{{ button_label|default('Registracija') }}</button>
    </div>
{{ form_end(form) }}
