{% set terms_label %}
    <a title="Saznajte više o uvjetima i odredbama našeg webshop-a"
            href="{{ path('terms_and_conditions') }}">Uvjeti i odredbe
    </a>
{% endset %}

{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.surname) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.gender) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.birthDate) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="mb-2">
        <small class="text-muted mb-2">
            {{ 'form.help.termsOfUse'|trans({}, 'register')}}
            <a href="{{ path('terms_and_conditions') }}"
               target="_blank">{{ 'form.help.termsOfUseLink'|trans({}, 'register')}}
            </a>.
        </small>
    </div>
    <div class="text-center">
        <button class="btn btn-outline-secondary mb-3">
            {{ button_label|default('form.registerButton'|trans({}, 'register')) }}
        </button>
    </div>
{{ form_end(form) }}
