{% extends 'base.html.twig' %}

{% block title %}Postavke računa{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/account_settings.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        {% if not app.user.gender or not app.user.birthDate %}
            <p class="bg-danger text-white p-2 text-center">
                <i class="fas fa-exclamation-circle"></i>
                Vaš korisnički račun nije u potpunosti dovršen.
                Ispunite preostale podatke s ciljem poboljšanja korisničkog iskustva.
                <a href="{{ path('user_edit', {id: app.user.id}) }}">Dovrši</a>
            </p>
        {% endif %}
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mt-2 mb-3 bg-light text-center p-2">Podaci o korisniku</h2>
                <div class="user_details p-2 mb-3">
                    <div class="edit_icon pr-2">
                        <a href="{{ path('user_edit', {id: app.user.id}) }}"
                            title="Uredi podatke">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </div>
                    <p>Ime: <strong>{{ app.user.name }}</strong></p>
                    <p>Prezime: <strong>{{ app.user.surname }}</strong></p>
                    <p>Email adresa: <strong>{{ app.user.email }}</strong></p>
                    {% if app.user.gender %}
                         <p>Spol: <strong>{{ app.user.gender }}</strong></p>
                    {% endif %}
                    {% if app.user.birthDate %}
                        <p>Datum rođenja: <strong>{{ app.user.birthDate|date("d.m.Y.") }}</strong></p>
                    {% endif %}
                    <p>Račun kreiran: <strong>{{ app.user.createdAt|date("H:i:s | d.m.Y.") }}</strong></p>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="mt-2 mb-3 bg-light text-center p-2">Adrese isporuke</h3>
                {% if not deliveryAddresses %}
                    <p class="bg-danger p-2 text-white">
                        Za uspješnu narudžbu, potrebno je imati unesenu adresu isporuke.
                    </p>
                {% else %}
                    {% for deliveryAddress in deliveryAddresses%}
                        <div class="one_delivery_address">
                            <div class="delete_icon p-2">
                                <a href="{{ path('delivery_address_delete', {id: deliveryAddress.id}) }}"
                                   title="Uredi">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                            <p class="p-2">
                                <span>Adresa#{{ loop.index }}</span><br>
                                {{ deliveryAddress.street }}<br>
                                {{ deliveryAddress.postalCode }}
                                {{ deliveryAddress.city }}<br>
                                {{ deliveryAddress.county }}<br>
                                {{ deliveryAddress.country }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
                <a class="btn btn-outline-info mb-3" href="{{ path('delivery_address_new') }}">
                    Dodaj novu adresu
                </a>
            </div>
        </div>
    </div>
{% endblock %}
