{% extends 'base.html.twig' %}

{% block title %}
    {{ 'show.title'|trans({}, 'user') }}
    {{ user.name }} {{ user.surname }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/edit_user.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center p-2 mt-2 bg-light">
            {{ 'show.title'|trans({}, 'user') }}
            {{ user.name }} {{ user.surname }}
        </h2>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('user_index') }}">
                <i class="fas fa-arrow-alt-circle-left"></i>
                {{ 'usersList'|trans({}, 'user') }}
            </a>
        {% endif %}
        <div class="text-center">
            {{ include('user/_form.html.twig',
                {'button_label': 'form.edit_button_label'|trans({}, 'user')}) }}
            {{ include('user/_delete_form.html.twig') }}
            {% if not user.facebookId and not user.googleId %}
                <a href="{{ path('reset_password', {id:user.id}) }}"
                   class="btn btn-info mb-3">
                    {{ 'edit.reset_password'|trans({}, 'user') }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
