{% extends 'base.html.twig' %}

{% block title %}Upravljanje korisnicima{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="text-center mt-2 bg-light p-2">Upravljanje korisnicima</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email adresa</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Spol</th>
                    <th>Vrijeme registracije</th>
                    <th>Vrijeme zadnje izmjene</th>
                    <th>Mogućnosti</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.gender ? user.gender : '-' }}</td>
                    <td>{{ user.createdAt|date('H:i:s | d.m.Y.') }}</td>
                    <td>{{ user.updatedAt ? user.updatedAt|date('H:i:s | d.m.Y.') : '-' }}</td>
                    <td>
                        <a class="btn" href="{{ path('user_show', {'id': user.id}) }}" title="Prikaži pojedinosti">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}" title="Uredi">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_register') }}" class="btn btn-outline-info mb-3">Stvori novog korisnika</a>
    </div>
{% endblock %}
