{% extends 'base.html.twig' %}

{% block title %}Resetiranje lozinke{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/container50.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center p-2 mt-2 bg-light">
            Resetiranje lozinke za korisnika "{{ user.name }} {{ user.surname }}"
        </h2>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('user_index') }}">
                <i class="fas fa-arrow-alt-circle-left"></i>
                Lista korisnika
            </a>
        {% endif %}
        <div class="text-center">
            {{ include('user/_form_reset_password.html.twig') }}
        </div>
    </div>
{% endblock %}
