{% extends 'base.html.twig' %}

{% block title %}Korisnik {{ user.name }} {{ user.surname }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Korisnik {{ user.name }} {{ user.surname }}</h2>
        <a href="{{ path('user_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Lista korisnika
        </a>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email adresa</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Ovlasti</th>
                    <td>{{ user.roles ? user.roles|json_encode : '-' }}</td>
                </tr>
                <tr>
                    <th>Ime</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>Prezime</th>
                    <td>{{ user.surname }}</td>
                </tr>
                <tr>
                    <th>Spol</th>
                    <td>{{ user.gender ? user.gender : '-' }}</td>
                </tr>
                <tr>
                    <th>Datum i godina rođenja</th>
                    <td>{{ user.birthDate ? user.birthDate|date('d.m.Y.') : '-' }}</td>
                </tr>
                <tr>
                    <th>FacebookId</th>
                    <td>{{ user.facebookId ? user.facebookId : '-' }}</td>
                </tr>
                <tr>
                    <th>GoogleId</th>
                    <td>{{ user.googleId ? user.googleId : '-' }}</td>
                </tr>
                <tr>
                    <th>Vrijeme registracije</th>
                    <td>{{ user.createdAt|date('H:i:s | d.m.Y.') }}</td>
                </tr>
                <tr>
                    <th>Vrijeme posljednje izmjene</th>
                    <td>{{ user.updatedAt ? user.updatedAt|date('H:i:s | d.m.Y.') : '-' }}</td>
                </tr>
                <tr>
                    <th>Adrese isporuke</th>
                    <td>
                        {% if user.deliveryAddresses|length > 0 %}
                            {% for deliveryAddress in user.deliveryAddresses %}
                                    {{ deliveryAddress.street }}, {{ deliveryAddress.postalCode }} {{ deliveryAddress.city }} | {{ deliveryAddress.country }}<br>
                                    <a href="{{ path('delivery_address_edit', {id:deliveryAddress.id}) }}">
                                        Uredi podatke o adresi isporuke
                                        <i class="fas fa-edit"></i>
                                    </a><br>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-outline-success" href="{{ path('user_edit', {'id': user.id}) }}">Uredi podatke</a>
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
