{% extends 'base.html.twig' %}

{% block title %}Promo kod "{{ promo_code.code }}"{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/container50.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center p-2 mt-2 bg-light">
            Uređivanje podataka o promo kodu "{{ promo_code.code }}"
        </h2>
        <a href="{{ path('promo_code_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Lista promo kodova
        </a>
        {{ include('promo_code/_form.html.twig', {'button_label': 'Spremi promjene'}) }}
        <div class="text-center">
            {{ include('promo_code/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
