<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <style>
        .img_wrapper {
            text-align: center;
        }
        .img_wrapper img{
            border: 1px dot-dash wheat;
        }

        .heading {
            text-align: center;
            background-color: #19D895;
            color: white;
            padding: 1%;
            margin-top: 5px;
        }

        .messages {
            margin-top: 5px;
            text-align: center;
        }

        .footer {
            color: #19D895;
            text-align: center;
        }
    </style>
    <title></title>
</head>
<body>
    <div class="img_wrapper">
        <img src="https://i.ibb.co/yPhPY0j/logo.png" alt="logo">
    </div>
    <div>
        <h2 class="heading">
            {{ 'new_subscriber.title'|trans({}, 'email') }}
        </h2>
        <h3 class="messages">
            {{ 'new_subscriber.respected'|trans({}, 'email') }},
            <br><br>
            {{ 'new_subscriber.message'|trans({}, 'email') }}
            <br><br>
            {{ 'notice'|trans({}, 'email') }}
        </h3>
    </div>
    <div class="footer">
        <small>
            {{ 'footer1'|trans({}, 'email') }}
            <br>
            {{ 'footer2'|trans({}, 'email') }}
            <br>
            {{ 'footer3'|trans({}, 'email') }}
        </small>
    </div>
</body>
</html>
