<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <style>
        .img_wrapper {
            text-align: center;
        }
        .img_wrapper img{
            border: 1px dot-dash wheat;
        }

        .heading {
            text-align: center;
            background-color: #19D895;
            color: white;
            padding: 1%;
            margin-top: 5px;
        }

        .messages {
            margin-top: 5px;
            text-align: center;
        }

        .webmaster {
            color: #19D895;
        }

        .footer {
            color: #19D895;
            text-align: center;
        }
    </style>
    <title></title>
</head>
<body>
    <div class="img_wrapper">
        <img src="https://i.ibb.co/yPhPY0j/logo.png" alt="logo">
    </div>
    <div>
        <h2 class="heading">
            {{ 'new_user.welcome'|trans({}, 'email') }}
        </h2>
        <h3 class="messages">
            {{ 'new_user.respected'|trans({}, 'email') }}
            <strong>{{ name }}</strong>,
            <br><br>
            {{ 'new_user.message1'|trans({}, 'email') }}
            <a href="https://www.sport-shop.xyz/" title="SportShop d.o.o.">
                SportShop
            </a>
            {{ 'new_user.message2'|trans({}, 'email') }}
            <br><br>
            {{ 'new_user.message3'|trans({}, 'email') }}
            - <strong class="webmaster">
                Webmaster Branimir
            </strong>
        </h3>
    </div>
    <div class="footer">
        <small>
            {{ 'footer1'|trans({}, 'email') }}
            <br>
            {{ 'footer2'|trans({}, 'email') }}
            <br>
            {{ 'footer3'|trans({}, 'email') }}
        </small>
    </div>
</body>
</html>
