<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <style>
        .img_wrapper {
            text-align: center;
        }
        .img_wrapper img{
            border: 1px dot-dash wheat;
        }

        .heading {
            text-align: center;
            background-color: #19D895;
            color: white;
            padding: 1%;
            margin-top: 5px;
        }

        .messages {
            margin-top: 5px;
            text-align: center;
        }

        table {
            margin-left:auto;
            margin-right:auto;
            border: 1px solid gray;
        }

        .centered {
            text-align: center;
        }

        table tbody tr:hover {
            background-color: #5eb5e0;
        }

        .price {
            padding: 1%;
            background-color: indianred;
            color: white;
        }

        .delivery_address_block {
            background-color: gray;
            color: white;
            padding: 1%;
        }

        .delivery_address_block > .delivery_address {
            text-decoration: underline;
        }

        .footer {
            color: #19D895;
            text-align: center;
        }
    </style>
    <title></title>
</head>
<body>
    <div class="img_wrapper">
        <img src="https://i.ibb.co/yPhPY0j/logo.png" alt="logo">
    </div>
    <div>
        <h2 class="heading">
           {{ 'order_successful.title'|trans({}, 'email') }}
            <strong>#{{ orderNumber }}</strong>
        </h2>
        <h3 class="messages">
            {{ 'order_successful.respected'|trans({}, 'email') }}
            {{ user }},
            <br><br>
            {{ 'order_successful.message'|trans({}, 'email') }}
        </h3>
        <div class="centered">
            <h6>
                <strong>
                    {{ 'order_successful.order'|trans({}, 'email') }} {{ orderNumber }}
                </strong>
                ({{ createdAt|date('H:i:s | d.m.Y.') }})
            </h6>
            <table>
                <thead>
                    <tr>
                        <th>
                            {{ 'order_successful.item'|trans({}, 'email') }}
                        </th>
                        <th>
                            {{ 'order_successful.color'|trans({}, 'email') }}
                        </th>
                        <th>
                            {{ 'order_successful.size'|trans({}, 'email') }}
                        </th>
                        <th>
                            {{ 'order_successful.quantity'|trans({}, 'email') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    {% for cartItem in cartItems %}
                        <tr>
                            <td>
                                {{ cartItem.item.title }}
                            </td>
                            <td>
                                {{ cartItem.color.name }}
                            </td>
                            <td>
                                {{ cartItem.size.value }}
                            </td>
                            <td>
                                {{ cartItem.quantity }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="price">
                {{ 'order_successful.totalPriceWithDiscount'|trans({}, 'email') }}:
                <strong class="text-success">
                    {{ totalPriceWithDiscount|number_format(2, '.', ',') }} kn
                </strong>
            </p>
            <p class="delivery_address_block">
                <strong>
                    {{ 'order_successful.delivery_address'|trans({}, 'email') }}:
                </strong>
                <br>
                <small class="delivery_address">
                    {{ deliveryAddress }}
                </small>
            </p>
        </div>
    </div>
    <div class="footer">
        <small class="text-primary mt-3">
            {{ 'footer1'|trans({}, 'email') }}
            <br>
            {{ 'footer2'|trans({}, 'email') }}
            <br>
            {{ 'footer3'|trans({}, 'email') }}
        </small>
    </div>
</body>
</html>
