{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title'|trans({}, 'item_list') }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/items_list.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if pagination.getTotalItemCount == 0 %}
            <h2 class="text-center mt-2 bg-light p-2">
                {{ 'title'|trans({}, 'item_list') }}
                <i id="title-icon" class="fas fa-list-ol ml-1"></i>
            </h2>
            <div class="text-center">
                <img src="{{ asset('images/logo.png') }}" alt="">
                <h6 class="bg-light p-2">
                    {{ 'noItems'|trans({}, 'item_list') }}
                </h6>
            </div>
        {% else %}
            <div class="bg-light text-center">
            <h2 class="mt-2 pt-2 pb-0 mb-0">
                {{ 'title'|trans({}, 'item_list') }}
            </h2>
            <small>
                {{ 'categories'|trans({}, 'item_list') }}:
                {% for category in categories %}
                    {{ category|trans({}, 'navigation') }}
                {% endfor %}
            </small>
            </div>
            <div class="row">
                {% for item in pagination %}
                    <div class="col-sm-3 mb-2">
                        <div class="one_item">
                            <div class="img-wrapper">
                                {% set difference = date(item.createdAt|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
                                {% set daysDiff = difference.days %}
                                {% if daysDiff <= 2 %}
                                    <div class="new_badge p-1">
                                        {{ 'new'|trans({}, 'item_list') }}
                                    </div>
                                {% endif %}
                                {% set loopIndex = loop.index %}
{#                                <div class="action_badge p-1">#}
{#                                    - {{ discounts[loopIndex-1] }}%#}
{#                                </div>#}
                                {% if item.images|length == 0 %}
                                    <img src="{{ asset('images/logo.png') }}" alt="item_image">
                                {% else %}
                                    <img src="{{ asset('uploads/')~item.images[0].path }}" alt="item_image">
                                {% endif %}
                            </div>
                            <div class="overlay">
                                <a href="{{ path('wish_list_item_new', {'id':item.id}) }}" class="icon_wish_list"
                                   title="{{ 'addToWishListTitle'|trans({}, 'item_list') }}">
                                    <i class="fas fa-clipboard-check"></i>
                                </a>
                                <a href="{{ path('item_details', {'id':item.id}) }}" class="icon_details"
                                   title="{{ 'detailsTitle'|trans({}, 'item_list') }}">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </div>
                            <div class="item_info">
                                <h6 class="text-center bg-light p-1 mb-0">
                                    {{ item.title }}
                                </h6>
                                <p class="text-muted text-center colors m-0 p-1">
                                    {{ 'availableColors'|trans({}, 'item_list') }}
                                </p>
                                <div class="item-colors text-center">
                                    {% if item.itemColors|length == 0 %}
                                        <small>
                                            {{ 'colorsNotDefined'|trans({}, 'item_list') }}
                                        </small>
                                    {% else %}
                                        {% for itemColor in item.itemColors %}
                                            <a id="color" style="background-color: {{ itemColor.color.value }}"></a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <h6 id="price" class="text-center p-1 bg-success text-white">
                                    {{ 'price'|trans({}, 'item_list') }}:
                                    <span>
                                        {{ item.price }} kn
                                    </span>
                                </h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
